@tailwind base;
@tailwind components;
@tailwind utilities;

#sidebar-toggle:checked ~ .flex > .fixed-no-scroll {
  @apply absolute z-50 block w-full;
}

#sidebar-toggle:checked ~ .flex > .content-wrapper {
  @apply translate-y-[10%] transform-gpu blur-3xl transition duration-300 ease-out-cubic md:blur-none;
}

#sidebar-toggle:not(:checked) ~ .flex > .content-wrapper {
  @apply translate-y-0 transform-gpu blur-none transition duration-300 ease-out-cubic;
}

.hamburger-menu {
  @apply relative flex h-[12px] w-[24px] cursor-pointer flex-col items-center justify-between;
}

.hamburger-bar {
  @apply h-[2px] w-4 transform-gpu rounded-medium bg-foreground transition duration-300 ease-out-cubic;
}

#sidebar-toggle ~ .label > .hamburger-menu .bar2 {
  @apply ml-0.5 w-3.5;
}

#sidebar-toggle:checked ~ .label > .hamburger-menu .bar1 {
  transform: rotate(-45deg) translate(-3.5px, 3px);
}

#sidebar-toggle:checked ~ .label > .hamburger-menu .bar2 {
  opacity: 0;
}

#sidebar-toggle:checked ~ .label > .hamburger-menu .bar3 {
  transform: rotate(45deg) translate(-4px, -4px);
}

@layer base {
  :root {
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }

  .dark {
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

.fc-day-today {
  background-color: #e0e0e0 !important;
}
